[user]
    name = Nate Brennand
    email = nate.brennand@clever.com

[color]
    ui = auto

[color "branch"]
    current = yellow black
    local = yellow
    remote = magenta

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red reverse
    new = green reverse
    whitespace = white reverse

[color "status"]
    added = green
    changed = yellow
    untracked = cyan reverse
    branch = magenta

[core]
    excludesfile = ~/.global_gitignore
    page = less

[push]
    default = simple
